.logo {
    font-family: var(--second-font-family);
    @include font(26px,700,31px);  

    margin-right: 94px;
}

.logo-blue {
    color: var(--accent-color);
}

.logo-black {
    color: var(--logo-color);
}

.logo-white {
    color: var(--white-color);
}