.logo {
    font-family: var(--second-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    margin-right: 94px;
}

.logo-blue {
    color: var(--accent-color);
}

.logo-black {
    color: var(--logo-color);
}

.logo-white {
    color: var(--white-color);
}